
<p id="notice"><%= notice %></p>
<img src="https://aparm.000webhostapp.com/C&PCimages/parts_title.png">
<div class="jumbotron bg-dark move-up">
<div class="float-left">
<%= link_to 'New Part', new_part_path %>
</div>
<div class="float-right">
<%= form_tag(search_parts_url, method: "get") do %>   <!-- Add search for parts -->
    <%= label_tag(:query, "") %>
    <%= text_field_tag(:query, nil, placeholder: "Search by name") %>
    <%= submit_tag("Search") %>
<% end %>
</div>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parts.each do |part| %>
      <tr>
        <td><%= part.name %></td>
        <td><%= link_to 'Show', part %></td>
        <td><%= link_to 'Edit', edit_part_path(part) %></td>
        <td><%= link_to 'Destroy', part, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
